/* .logo img {
  max-width: 10%;
} */

/* Footer */
.footer {
  background-color: #6969ff;
  height: 5%vh;
}
.footer .container {
  background-color: #6969ff;
}
.footer-sm {
  text-align: center;
  background-color: #6969ff;
  color: white;
}
.footer-sm a {
  color: white;
}
.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
}
.footer-sm__icons {
  text-align: center;
  padding: 1.5rem 0;
}

.col a i {
  font-size: 1rem;
  margin-left: 1rem;
}

/* --------------------------- Pagina Contactos --------------------------- */

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fbfbfb;
  padding-left: 30px;
}
input {
  background-color: #fbfbfb;
  width: 408px;
  height: 25px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 1rem;
  padding-left: 10px;
  margin-bottom: 20px;
}
textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 120px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
label {
  display: block;
  float: center;
}
button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}
button p {
  color: #fff;
}
span {
  color: #ab4493;
}
.aviso {
  font-size: 13px;
  color: #0e0e0e;
}
h1 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
  color: #ab4493;
}
h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}
p {
  font-size: 14px;
  color: #0e0e0e;
}
::-webkit-input-placeholder {
  color: #a8a8a8;
}
::-webkit-textarea-placeholder {
  color: #a8a8a8;
}
.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}
.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.header {
  color: #36a0ff;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36a0ff;
}
