@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }
}
