.menu {
  /*  padding: 8rem; */

  background-color: $color-fondo;
}

.candy {
  padding-top: 8rem;
  background-color: $color-fondo;
}
.candy-card {
  padding-bottom: 2rem;
  background-color: $color-fondo;
}

img.imagenes {
  margin-top: 2rem;
  border-radius: 20px;
}
