input {
  @extend %formato;
  @include formato_v(20rem, 25px, 1rem, 10px);
}

textarea {
  @extend %formato;
  @include formato_v(20rem, 150px, 10px, 10px);
}

label {
  display: block;
  float: center;
}

.button1 {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: auto;
  cursor: pointer;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario {
  input:focus {
    outline: 0;
    border: 1px solid #97d848;
  }
  textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
  }
}
@media (max-width: 768px) {
  .navbar-brand img {
    visibility: hidden;
    width: 2rem;
  }
  input {
    @extend %formato;
    @include formato_v(15rem, 25px, 1rem, 5px);
  }
  textarea {
    @extend %formato;
    @include formato_v(15rem, 120px, 10px, 10px);
  }
}

.card {
  &:hover {
    transform: scale(1.05);
  }
  &:focus-within {
    transform: scale(1.05);
  }
}
