.footer {
  background-color: $color-fondo-footer;
  height: 5%vh;
  .container {
    background-color: $color-fondo-footer;
  }
}

.footer-sm {
  text-align: center;
  background-color: $color-fondo-footer;
  color: white;
  a {
    color: white;
    i {
      font-size: 1rem;
      margin-left: 1rem;
    }
  }
  &__icons {
    text-align: center;
    padding: 1.5rem 0;
  }
}

.col {
  a {
    i {
      font-size: 1rem;
      margin-left: 1rem;
    }
  }
}

.pie {
  background-color: $color-fondo-pie;
  color: $color-pie;
}
