* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding-bottom: 20px;
  color: $color;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

span {
  color: $color;
}
